body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav {
    background: rgb(91, 46, 1);
    overflow: hidden;
  }
  
  .nav a {
    text-align: center;
    color: white;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
  }
  
  .nav ul {
    display: flex;
    justify-content: space-around;
  }
  
  .nav li {
    display: inline;
  }
  
  .nav ul li a:hover {
    border: none;
    padding: 7px;
    background-color: blanchedalmond;
    color: black;
    box-shadow: 0px 0px 10px 0px bisque;
  }
  .order-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.order-form input, .order-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.order-form button {
    background-color: rgb(85, 44, 4);
    color: #fff;
    cursor: pointer;
}